# Disable cache for all files
<IfModule mod_headers.c>
    Header unset ETag
    Header set Cache-Control "no-cache, no-store, must-revalidate"
    Header set Pragma "no-cache"
    Header set Expires "0"
</IfModule>

# Cache images for 1 month
<FilesMatch "\.(ico|webp|jpg|jpeg|png|gif)$">
    ExpiresDefault "access plus 1 month"
    Header set Cache-Control "public, max-age=2592000"
</FilesMatch>

# Cache sound and videos for 1 month
<FilesMatch "\.(mp4|mp3)$">
    ExpiresDefault "access plus 1 month"
    Header set Cache-Control "public, max-age=2592000"
</FilesMatch>

# Cache CSS and JavaScript with version parameter for 1 week
<FilesMatch "\.(css|js)$">
    <IfModule mod_rewrite.c>
        RewriteEngine On
        RewriteCond %{QUERY_STRING} ^v\d+$
        RewriteRule ^(.*)$ $1 [L]
    </IfModule>
    ExpiresDefault "access plus 1 week"
    Header set Cache-Control "public, max-age=604800"
</FilesMatch>

# Cache Fonts with version parameter for 1 week
<FilesMatch "\.(ttf|otf|woff|woff2)$">
    <IfModule mod_rewrite.c>
        RewriteEngine On
        RewriteCond %{QUERY_STRING} ^v\d+$
        RewriteRule ^(.*)$ $1 [L]
    </IfModule>
    ExpiresDefault "access plus 1 week"
    Header set Cache-Control "public, max-age=604800"
</FilesMatch>
